.Home {
  background-image: url('../imagem/bk-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100vw;
  height: 100vh;
}

.home-header {
  width: 70%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-logo {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

.home-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.home-list-link {
  color: #fff;
  font-weight: 500;
}